@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav nav-tabs nav-stacked">
        <li style="border-top:none;">
            @Html.ActionLink(User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @id = "userIconParent", @class = "icon fa-user" })
        </li>
        <li><a id="userIconChild" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#userIconParent').on({'mouseenter':function () {
                $('#userIconChild').css("visibility","visible");
                },'mouseleave':function() {
                    $('#userIconChild').css("visibility", "hidden");
                }
            });
        });
    </script>
    }
}
else
{
    <h2>NOT AUTHENTICATED</h2>
}

