@using Microsoft.AspNet.Identity

@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
    <li class="userIconParent" style="border-bottom:1px solid #252830;">@Html.ActionLink(User.Identity.Name, "UserProfile", "User", routeValues: null, htmlAttributes: new { title = "Profile", @id = "", @class = "icon fa-user" })
        <ul class="nav nav-tabs nav-stacked userIconChild">
            @if (User.IsInRole("3"))
            {
                <li>@Html.ActionLink("Manage Users", "Index", "User", null, new { @class = "moveRightAnim indent" })</li>
            }
            <li><a id="" class="moveRightAnim indent" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </li>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.userIconParent').on({
                'mouseenter': function () {
                    $(this).find('.userIconChild').stop().show("fast");
                }, 'mouseleave': function () {
                    $(this).find('.userIconChild').stop().hide("fast");
                }
            });
        });
    </script>
}

