body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #252830;
    color: #FFFFFF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 350px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media (min-width: 922px) {
    .navbar-left-custom {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 240px;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: #30343E;
        overflow-y: auto;
        border-radius: 0;
        border-right-color: #252830;
        border-left-color: #252830;
    }

    .container {
        margin-right: 0;
        padding: 0;
    }

    .navbar-header {
        float: none;
    }

    .nav-tabs {
        border: none;
    }

    .nav-tabs > li > a {
        border-radius: 0;
        margin: 0;
        margin-left: 10px;
        color: #FFFFFF;
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        border:none;
    }
    .moveRightAnim:hover {
        border-color: #252830 !important;
        -webkit-transform: translate(2em,0);
        -moz-transform: translate(2em,0);
        -o-transform: translate(2em,0);
        -ms-transform: translate(2em,0);
        transform: translate(2em,0);
    }
    .dropdownAnim:hover {
        border-color: #252830 !important;
        -webkit-transform: translate(60px,0);
        -moz-transform: translate(60px,0);
        -o-transform: translate(60px,0);
        -ms-transform: translate(60px,0);
        transform: translate(60px,0);
    }

    .userIconChild {
        border-color: #252830 !important;
        -webkit-transition:all .25s ease-in-out;
        -moz-transition:all .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition:all .25s ease-in-out;
        font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
        left: -300px;
    }

    #userIconParent>li>a {
        border-color: #252830 !important;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #FFFFFF;
        border-radius: 0;
        margin: 0;
        line-height: 1.42857143;
        position: relative;
        display: block;
        padding: 10px 15px;
    }
    .icon::before {
        display: inline-block;
        margin-right: .2em;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 5em;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    #userIconParent:hover {
        text-decoration: none;
    }
    
    /*.nav-tabs > li > a:hover {
        border-color: #252830;
        -webkit-transform: translate(3em,0);
        -moz-transform: translate(3em,0);
        -o-transform: translate(3em,0);
        -ms-transform: translate(3em,0);
        transform: translate(3em,0);
    }*/

    .navbar-collapse {
        padding: 0;
    }

    .nav-stacked > li {
        border-top: 1px solid #252830;
        border-bottom: 1px solid #252830;
        border-right: 0 none;
    }

        .nav-stacked > li:last-child {
            border-top: none;
            border-bottom: 1px solid #252830;
            border-right: 0 none;
        }

    .nav > li > a:hover {
        background-color: #252830;
    }

    .nav-stacked > li + li {
        margin: 0;
    }

    .navbar-brand-custom {
        margin: 30px 26px;
    }

    /*###### START LOGIN STYLING ######*/
    #loginPage {
        margin: 200px auto;
        width: 400px;
    }
    @-moz-keyframes spinner {
        0% {
            -moz-transform: rotateZ();
            -ms-transform: rotateZ();
            -o-transform: rotateZ();
            -webkit-transform: rotateZ();
            transform: rotateZ();
        }

        100% {
            -moz-transform: rotateZ(359deg);
            -ms-transform: rotateZ(359deg);
            -o-transform: rotateZ(359deg);
            -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
        }
    }

    @-webkit-keyframes spinner {
        0% {
            -moz-transform: rotateZ(0);
            -ms-transform: rotateZ(0);
            -o-transform: rotateZ(0);
            -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
        }

        100% {
            -moz-transform: rotateZ(359deg);
            -ms-transform: rotateZ(359deg);
            -o-transform: rotateZ(359deg);
            -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
        }
    }

    @keyframes spinner {
        0% {
            -moz-transform: rotateZ(0);
            -ms-transform: rotateZ(0);
            -o-transform: rotateZ(0);
            -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
        }

        100% {
            -moz-transform: rotateZ(359deg);
            -ms-transform: rotateZ(359deg);
            -o-transform: rotateZ(359deg);
            -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
        }
    }


    .wrapper {
        display: flex;
        align-items: center;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        margin-top: 70px;
        padding: 20px;
    }

    .login {
        border-radius: 2px 2px 5px 5px;
        padding: 10px 20px 20px 20px;
        width: 90%;
        max-width: 320px;
        background: #ffffff;
        position: relative;
        padding-bottom: 80px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    }

        .login.loading button {
            max-height: 100%;
            padding-top: 50px;
        }

            .login.loading button .spinner {
                opacity: 1;
                top: 40%;
            }

        .login.ok button {
            background-color: #8bc34a;
        }

        .login.loginError button {
            background-color: red;
        }

        .login.ok button .spinner {
            border-radius: 0;
            border-top-color: transparent;
            border-right-color: transparent;
            height: 20px;
            -moz-animation: none;
            -o-animation: none;
            -webkit-animation: none;
            animation: none;
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
            -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
        }

        .login input {
            display: block;
            padding: 15px 10px;
            margin-bottom: 10px;
            width: 100%;
            border: 1px solid #ddd;
            -moz-transition: border-width 0.2s ease;
            -o-transition: border-width 0.2s ease;
            -webkit-transition: border-width 0.2s ease;
            transition: border-width 0.2s ease;
            border-radius: 2px;
            color: #ccc;
        }

            .login input + i.fa {
                color: #fff;
                font-size: 1em;
                position: absolute;
                margin-top: -47px;
                opacity: 0;
                left: 0;
                -moz-transition: all 0.1s ease-in;
                -o-transition: all 0.1s ease-in;
                -webkit-transition: all 0.1s ease-in;
                transition: all 0.1s ease-in;
            }

            .login input:focus {
                outline: none;
                color: #444;
                border-color: #2196F3;
                border-left-width: 35px;
            }

                .login input:focus + i.fa {
                    opacity: 1;
                    left: 30px;
                    -moz-transition: all 0.25s ease-out;
                    -o-transition: all 0.25s ease-out;
                    -webkit-transition: all 0.25s ease-out;
                    transition: all 0.25s ease-out;
                }

        .login a {
            font-size: 0.8em;
            color: #2196F3;
            text-decoration: none;
        }

        .login .title {
            color: #444;
            font-size: 1.2em;
            font-weight: bold;
            margin: 10px 0 30px 0;
            border-bottom: 1px solid #eee;
            padding-bottom: 20px;
        }

        .login button {
            width: 100%;
            height: 100%;
            padding: 10px 10px;
            background: #2196F3;
            color: #fff;
            display: block;
            margin-top: 20px;
            position: absolute;
            left: 0;
            bottom: 0;
            max-height: 60px;
            border: 0 solid rgba(0, 0, 0, 0.1);
            border-radius: 0 0 2px 2px;
            -moz-transform: rotateZ(0);
            -ms-transform: rotateZ(0);
            -o-transform: rotateZ(0);
            -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
            -moz-transition: all 0.1s ease-out;
            -o-transition: all 0.1s ease-out;
            -webkit-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
            border-bottom-width: 0;
        }

            .login button .spinner {
                display: block;
                width: 40px;
                height: 40px;
                position: absolute;
                border: 4px solid #ffffff;
                border-top-color: rgba(255, 255, 255, 0.3);
                border-radius: 100%;
                left: 50%;
                top: 0;
                opacity: 0;
                margin-left: -20px;
                margin-top: -20px;
                -moz-animation: spinner 0.6s infinite linear;
                -o-animation: spinner 0.6s infinite linear;
                -webkit-animation: spinner 0.6s infinite linear;
                animation: spinner 0.6s infinite linear;
                -moz-transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
                -o-transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
                -webkit-transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
                transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
                box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
            }

            .login button .ex {
                display: block;
                width: 40px;
                height: 40px;
                position: absolute;
                border: none;
                left: 50%;
                top: 0;
                content: 'X';
                color: white;
            }

        .close {
            position: absolute;
            width: 40px;
            height: 40px;
            margin-left: -20px;
            margin-top: -20px;
            left: 50%;
            top: 40%;
            opacity: 1;
        }

        .close:before, .close:after {
            position: absolute;
            content: ' ';
            height: 40px;
            width: 5px;
            background-color: white;
            z-index: 10000;
            opacity: 1;
        }

        .close:before {
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .close:after {
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    .login:not(.loading) button:hover {
        box-shadow: 0 1px 3px #2196F3;
    }

    .login:not(.loading) button:focus {
        border-bottom-width: 4px;
    }

    footer {
        display: block;
        padding-top: 50px;
        text-align: center;
        color: #ddd;
        font-weight: normal;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        font-size: 0.8em;
    }

    footer a, footer a:link {
        color: #fff;
        text-decoration: none;
    }

    #loginImage {
        margin: 10px 30px;
    }

    #pleaseLogIn {
        display: block;
        visibility: hidden;
        text-align: center;
        color: #F41710;
        font-family: 'Audiowide', cursive;
        margin-top: 0;
        margin-bottom: 20px;
    }

    #submit {
        font-size: 1.5em;
    }

    .underline:hover {
        text-decoration: underline;
    }

    /* ############ START SETUP PAGE STYLES ############### */

    .form-horizontal {
        width: 1000px;
        margin: 0 auto;
    }
    #SetupGeneral {
        
    }
    #SetupAddress {
        display: none;    
    }
    #SetupAdmin {
        display: none;
    }
    #SetupConfirm {
        display: none;
        text-align:center;
    }
    #SetupLogo {
        margin: -10px auto;
        display: block;
        font-family: 'Audiowide', cursive;
        font-size: 10em;
        color: #F41710;
        text-align:center;
        height: 170px;

    }
    #SubSetupLogo {
        margin: 0 auto;
        display: block;
        font-family: 'Audiowide', cursive;
        font-size: 2em;
        color: #F41710;
        text-align:center;
        margin-bottom: 100px;
    }
    #ForwardButton {
        height: 40px;
        width: 40px;
        color:white;
        border:none;
        opacity: 0.35;
        position: fixed;
        top: 350px;
        right: 20%;
    }
    #BackButton {
        height: 40px;
        width: 40px;
        border:none;
        color: white;
        opacity: 0.35;
        position: fixed;
        top: 350px;
        left: 20%;
    }
    #SetupHeading {
        text-align:center;
        color:white;
        letter-spacing: 5px;
    }
    .activeButton {
        opacity: 1 !important;
        cursor: pointer;
    }
    .activeButton:hover {
        color: #F41710 !important;
    }
    .SetupField {
        display: block;
        width: 400px;
        text-align:center;
        margin: 15px auto;
    }
    
    #buttons {
        margin-top: -10%;
        position:relative;
    }
    .form-group {
        margin: 20px auto;
        display:block;
    }
    .form-control-alternative {
        display: inline;
    }
    .progress-bar{
        background-color: #F41710;
        color: black;
        
    }
    .progress {
        margin-top: -70px;
        border-radius: 0;
        -moz-box-shadow:    inset 0 0 1px 1px #000000;
        -webkit-box-shadow: inset 0 0 1px 1px #000000;
        box-shadow:         inset 0 0 1px 1px #000000;
    }
    .input-group-addon {
        display:inline;
        padding: 7px 12px;
        margin-left: -38px;
    }
    .text-danger span {
        color: white;
    }

    /*########## START USER PAGES STYLING ###########*/

    .userSquareBody {
        color: #252830;
        margin: auto;
        text-align:center;
    }
    .userSquare {
        height:250px; 
        width:250px;
        float:left;
        -webkit-transition: -webkit-transform 1s;
        -moz-transition: -moz-transform 1s;
        -o-transition: -o-transform 1s;
        transition: transform 1s;
        border-radius:0;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: relative;
    }
    .userSquare>div{
        display: block;
        height: 100%;
        width: 100%;
        color: #252830;
        position: absolute;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: white;
    }
    .userSquare.front{

    }
    .userSquare .back {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        -ms-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        text-align:center;
    }
    .userSquareBody > .icon::before {
        font-size: 13em;
        color: #252830;
        margin: auto;
    }
    .userSquareFooter {
        padding: 10px 15px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        position: relative;
        margin-right: -1px;
        margin-left: -1px;
        margin-top: -4px;
        color: #252830;
        text-align:center;
        font-size: 1.2em;
        font-weight:bold;
        border-radius: 0;
    }
    .squarePlaceholder {
        -webkit-perspective: 2000px;
        -moz-perspective: 2000px;
        -ms-perspective: 2000px;
        perspective: 2000px;
        position:relative;
        border-radius:0;
        display: inline-block;
        margin-right: 30px;
    }
    .userSquare.flipped {
        -moz-transform: rotateY( 180deg );
        -ms-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        -webkit-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

    .btn {
      border-radius: 0;
      padding: 3px 15px;
      font-size: 22px;
      text-decoration: none;
      margin: 10px auto;
      color: #fff !important;
      position: relative;
      display: inline-block;
    }

    .btn>a {
        color:white;
    }

    .btn:active {
        -moz-transform: translate(0, 5px);
        -ms-transform: translate(0, 5px);
        -o-transform: translate(0, 5px);
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px);
        box-shadow: 0 1px 0 0;
    }
    .red {
      background-color: #F41710;
      box-shadow: 0 5px 0 0 #c30f09;
    }

    .red:hover {
      background-color: #FF6656;
    }
    .header {
        margin-bottom: 40px;
    }
    .text-danger {
        color: #F41710;
        font-weight: bold;
        font-size: 1.6em;
    }
}






